@{
    ViewData["Title"] = "Contato";
}

<h3>
   Eduardo Nucci Vieira<br />
    Sumaré-SP<br />
    <abbr title="Phone">P:</abbr>
    (19)98172-1567
</h3>

<address>
    <strong>E-mail:</strong> <a href="mailto:edunucci@gmail.com">edunucci@gmail.com</a><br />
</address>
